html {
  height: 100%;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
}
nav{
  text-align: center;
  background-color: #8fa8a8;
}

.welcome{
  margin: 0px 15px;
  padding: 10px 0px;
}

#new{
  margin-top: 40px;
  text-align:center;
  color:#37355f;
}

#time{
  text-align: center;
  color: #525ba3;
  margin-top: 60px;
  border: 1.5px dashed #aac374 ;
}

.right{
  font-size:60px ;
}